/*** Map ***/
#map {
    width: 85%;
    margin: 10px;
    background-image: url("background-pic.jpg");
    background-size: cover;
}

/*** Form ***/
input[type="text"],
textarea {
    width: 70%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 16px;
    font-family: Tahoma, sans-serif;
    margin: 5px 30px;
}

#submit-btn,
#search-toggle-btn,
#update-btn,
#update-toggle-btn,
#search-btn,
#add-toggle-btn,
#delete-btn,
#delete-toggle-btn,
#search-btn {
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #FF6F61;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin: 10px 30px;
}

#submit-btn:hover,
#search-toggle-btn:hover,
#search-btn:hover,
#add-toggle-btn:hover {
    background-color: #FF1E00;
}

/*** Page ***/
body {
    font-family: Tahoma, sans-serif;
    background: url("background-pic.jpg");
    background-size: cover;
    margin: 55px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F9FA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 50px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #222;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: #FF6F61;
}

main {
    display: flex;
}

.restaurant-list {
    width: 25%;
    background-color: #f6f5f5;
    color: #222;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc #fff;
}

.restaurant-list .header {
    background-color: #424242;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 20px;
    font-family: Tahoma, sans-serif;
    text-shadow: 3px 3px 3px #ababab;
}

.restaurant-list ul.restaurant-ul-list {
    padding: 0 1rem;
    list-style-type: none;
    margin: 0;
    max-height: 400px;
    overflow-y: auto;
    font-family: Tahoma, sans-serif;
}

.restaurant-list .restaurant-item {
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.restaurant-list li:last-child .restaurant-item {
    border: none;
}

.restaurant-list .store-item a {
    text-decoration: none;
    font-size: 18px;
    color: #FF6F61;
    font-weight: bold;
}

.restaurant-list .store-item p {
    font-size: 12px;
    color: #222;
}
